
body{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
.toolbar{
    display: flex;
    justify-content: space-between;
background-color: rgb(116, 0, 112);
padding-left: 8rem;
padding-right: 8rem;color: white;
gap: px;
}
.toolbar-text{
color: orange
}
.toolbar-flex{
    display: flex;
    align-items: center;
    gap: 15px;
}
.toolbar-flex a{
    color: orange;
}
.menu{
    max-width: 90%;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 0 8rem;
    align-items: center;
}
.menu-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.menu-lists a{
    text-decoration: none;
    color: black;
}
.menu-lists a:hover{
    transition: -9s;
    border-bottom: 2px solid rgb(255, 145, 0);
    border-radius: 0 0 3px 3px;
}
.menu-lists li{
    list-style: none;
}
.menu-lists button{
    padding: 10px;
    border: none;
    background-color: rgb(133, 0, 133);
    color: white;
    font-size: 14px;
    border-radius: 3px;
}
.content{
    background-image: url('../img/background.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
}
.content-text h1{
font-size: 55px;
font-weight: 600;
}
.content-text p{
    font-size: 40px;
    font-weight: 300;
}
.content-text{
    color: white;
    padding-top: 3rem;
}
.content button{
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    background-color: orange;
    color: black;
}
.content-icons{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 74px;
    margin-top: 6rem;
}
.content-icons i {
    font-size: 78px;
}
.content-icons a{
    color: white;
}
.services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
     
    .services h1{
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        white-space: nowrap;
        padding: 10px;
    }
    .services img{
        width: 100%;
        background-repeat: no-repeat;
    }
    
    .menu3{
        display: flex;
        justify-content: space-between;
     text-align: center;
     padding-left: 8rem;
    padding-right: 8rem;
    }
    
    .menu3 img{
    width: 250px;
    }
    .group h1{
        padding: 0 30px;
        font-weight: 500;
    }
    .menu3 p{
        padding-left: 35px;
        padding-right: 35px;
        color: rgba(102,101,102);
    }
    .group{
        box-shadow: 0 0 19px rgba(0,0,0,0.1);
        margin: 20px;
        padding: 70px 18px;
    }
    .our-work{
        display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .our-work h1{
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        white-space: nowrap;
        padding: 10px;
    }
    .our-work img{
        width: 100%;
        background-repeat: no-repeat;
    }
    .our-works{
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    padding-left: 8rem;
    padding-right: 8rem;
border-radius: 3px;
    }
    
    .our-works h1{
    color: white;
    padding-top: 6rem;
    }
    .our-works2{
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-evenly;
        padding-left: 8rem;
        padding-right: 8rem;
        border-radius: 3px;
    }
    
    .our-works2 h1{
        color: white;
    padding-top: 7rem;
    }
    .work1{
    background-image: url(../img/работа\ на\ манаса\ 3.png);
    background-size: cover;
    height: 10vh;
    width: 30vh;
    margin: 20px;
    padding: 70px 18px;
    }
    
    .work2{
        background-image: url(../img/работа\ на\ манаса\ 2.png);
        background-size: cover;
    height: 10vh;
    margin: 20px;
    padding: 70px 18px;
    width: 30vh;
    }
    
    .work3{
        background-image: url(../img/1\ работа\ на\ манаса.png);
        background-size: cover;
    height: 10vh;
    margin: 20px;
    padding: 70px 18px;
    width: 30vh;
    }
    
    .work4{
        background-image: url(../img/работа\ на\ манаса\ 4.png);
        background-size: cover;
    height: 10vh;
    margin: 20px;
    padding: 70px 18px;
    width: 30vh;
    }
    
    .work5 {
        background-image: url(../img/работа\ на\ манаса\ 3.png);
        background-size: cover;
    height: 10vh;
    margin: 20px;
    padding: 70px 18px;
    width: 30vh;
    }
    .work6{
        background-image: url(../img/работана\ манаса2.png);
        background-size: cover;
    height: 10vh;
    margin: 20px;
    padding: 70px 18px;
    width: 30vh;
    }
    .button button{
        text-align: center;
        color:white;
        background-color:blueviolet ;
        padding: 19px;
        border-radius: 5px;
        font-size: 18px;
        padding-left: 6rem;
        padding-right:6rem;
    }
    .production{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .production h1{
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        white-space: nowrap;
        padding: 10px;
    }
    .production img{
        width: 100%;
    }
    .production-img{
        display: flex;
        justify-content: center;
        padding-left: 8rem;
       padding-right: 8rem;
    }
    .production-img img{
        margin: 20px;
        padding: 70px 18px;
    }
    
    
    .button button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }
    .our-price-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .our-price-img h1{
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        white-space: nowrap;
        padding: 10px;
    }
    
    .our-price-img img{
        width: 100%;
    }
    .our-price{
        display: flex;
        justify-content: center;
        padding-left: 11rem;
        padding-right: 11rem;
    }
    .our-price-head img{
        width: 20rem;
        margin: 20px;
    }
    
    .our-price2{
        display: flex;
        justify-content: center;
        padding-left: 11rem;
        padding-right: 11rem;
    }
    .our-price-head p{
        padding-left: 35px;
        padding-right: 35px;
        color: rgba(102,101,102);
        font-size: 23px;
    }
    .our-price-head h1{
    padding-left: 2rem;
    color: blueviolet;
    }
    .our-price-head button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        color:white;
        background-color:blueviolet ;
        padding: 19px;
        border-radius: 5px;
        font-size: 19px;
        padding-left: 6rem;
        padding-right:6rem;
    }
    .costumer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .costumer h1{
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        white-space: nowrap;
        padding: 10px;
    }
    .costumer img{
        width: 100%;
    }
.nike{
    display: flex;
    justify-content: space-between;
    text-align: center;
     padding-left: 11rem;
    padding-right: 11rem;

}
.our_team{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our_team h1{
    text-align: center;
        font-size: 45px;
        font-weight: 500;
        white-space: nowrap;
        padding: 10px;
}
.our_team img{
    width: 100%;
}
.people{
    display: flex;
        justify-content: space-between;
        padding-left: 11rem;
        padding-right: 11rem;
}
.people p{
    text-align: start;
    color: rgba(102,101,102);
    font-size: 24px;
}
.people h1{
    font-size: 36px;
}
.zayavka{
    text-align: center;
    padding-bottom: 4rem;

}
.zayavka h1{
    font-size: 32px;
}
.zayavka p{
    color: rgba(102,101,102);
    font-size: 18px;
    padding-bottom: 2rem;
}
.form-zayavka{
    text-align: center;
    border-radius: 4px;
    padding: 4px;
    box-shadow: grey;
    padding-bottom: 4rem;
    
    

}
.form-zayavka button{
    color:white;
        background-color:blueviolet ;
        padding: 5px;
        border-radius: 3px;
        font-size: 18px;
        width: 226px;
        height: 47px;
}
.form-zayavka input{
    width: 315px;
    height: 47px;
    border-radius: 3px;
    border: none;
    border-color: grey;
    background-color: #E5E3E3;
}
.podval{
    display: flex;
    justify-content: space-evenly;
    background-color: #3A3A3A;
    padding-right: 11rem;
    padding-left: 11rem;
}
.podval h1{
    color: #FFFFFF;
    font-size: 16px;
}
.podval p{
    color: #BCBBBB;
    font-size: 14px;
}
.podval a{
    color: #BCBBBB;
    text-decoration: none;
}
@media (max-width:480px) {
    .toolbar{
        padding: 0;
        display: flex;
        align-items: center;
}
.toolbar-text{
    font-size: 14px;

}
.toolbar-flex{
    display: none;
}
.menu{
    display: none;
}
.content{
    padding: 0;
    text-align: center;
    display: block;
    height: 100vh;
}
.content-icons{
    flex-direction: row;
    gap: 14px;
    justify-content: center;
    margin: 1 auto;
}
.content-text h1{
    font-size: 24px;
}
.content-text p{
font-size: 16px;
}
.content-text button{
    font-size: 16px;
}
.content-icons i{
    font-size: 48px;
}
.services img{
    width: 30%
}
.services h1{
    font-size: 18px;
}
.menu3{
    display: block;
    padding: 0;
}
.our-work img{
width: 30%;
}
.our-work h1{
    font-size: 18px;

}
.our-work{
    padding: 0;
}
.our-works{
    padding: 0;
    display: block;
    justify-content: center;

}
.our-works h1{
    font-size: 18px;

}
.our-works2{
    padding: 0;
    display: none;
}
.button button{
border-radius: 3px;
font-size: 16px;
}
.production img{
    width: 30%;
}
.production h1{
    font-size: 18px;
}
.production-img{
    padding: 0;
    display: block;
}
.production-img img{
    margin: 0;
    padding: 0;
}
.our-price-img h1{
font-size: 18px;
}
.our-price-img img{
    width: 35%;
}
.our-price{
    display: block;
    padding: 0;
}
.our-price2{
    display: none;
}
.our-price-head p{
    font-size: 16px;
    text-align: start;
}
.our-price-head h1{
    font-size: 18px;
}
.our-price-head button{
    font-size: 18px;
    border-radius: 3px;
}
.costumer h1{
    font-size: 18px;
}
.costumer img{
    width: 30%
}
.nike{
    display: block;
    padding: 0;
}
.our_team h1{
    font-size: 18px;
}
.our_team img{
    width: 30%;
}
.zayavka h1{
    font-size: 20px;
}
.zayavka p{
    font-size: 14px;
}
.podval{
    display: block;
    padding: 0;
}

}